.wrapHeader {
  min-height: 100vh;
  background-color: var(--color-background);
}
.sharpes {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.sharpLeft {
  position: absolute;
  top: 3%;
  left: -100px;
}
.sharpRight {
  position: absolute;
  bottom: 40%;
  right: 130px;
}
.headerImage {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  height: 120vh;
  margin: 0 auto;
}
.headerAside h1 {
  width: 200px;
  font-size: 3rem;
  color: #fff;
  margin: 5%;
}
.headerImage .img {
  width: 100%;
  min-height: 60%;
  background-image: url(../../assets/1.jpg);
  background-size: cover;
  background-position: 40% 50%;
}
.headerImage .headerAside {
  color: var(--color-background);
  flex-grow: 1;
}
.headerImage .headerAside .moveText {
  position: absolute;
  z-index: 0;
  text-transform: uppercase;
  top: 35%;
  left: -50%;
  font-size: 100px;
  font-weight: 700;
  color: rgba(4, 4, 4, 0.133);
}

@media (min-width: 600px) {
  .headerImage .img {
    width: 50%;
    height: auto;
  }
  .headerImage .headerAside .moveText {
    font-size: 130px;
  }
  .headerImage .headerAside {
    position: relative;
    margin: 20px;
  }
  .headerAside h1 {
    width: 450px;
    font-size: 3.5rem;
    color: #fff;
    margin-top: 10%;
    position: absolute;
    z-index: 0;
    text-transform: uppercase;
    top: 0%;
    left: 0%;
    z-index: 1;
  }
  .headerImage {
    flex-direction: row;
  }
}
