<div class="wrapAbout">
  <div class="flexAbout">
    <div class="education">
      <div class="educationIn">
        <div>
          <h2>Education</h2>
          <!-- <img src="" alt="agh" />
          <img src="" alt="wsa" /> -->
        </div>
        <p>
          <span>2008-2011</span> AGH University of Science and Technology;
          Applied Mathematics – BSc
        </p>
        <p>
          <span>2013-2015</span> Higher School of Administration in
          Bielsko-Biała; International Relations -MA
        </p>
      </div>
    </div>
    <div class="experience">
      <div class="experienceIn">
        <div>
          <h2>Work experience</h2>
        </div>
        <p>
          <span>1-29.03.2022</span> Internship - Junior Frontend Developer; Tom
          & Co. Katowice
        </p>
        <p>
          <span>09.2019 – 02.2022</span>Trade Marketing Specialist; Maspex Group
        </p>
        <p>
          <span>06.2014-09.2019</span> Business Owner; insurance agent and
          travel agency "Borkala Travel"
        </p>
      </div>
    </div>
    <div class="me">
      <div class="meIn">
        <div>
          <h2>About me</h2>
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam
          dignissimos, harum iste ea itaque!
        </p>
        <img src="../../assets/inst.png" alt="instagram" />
        <img src="../../assets/fc.png" alt="facebook" />
      </div>
    </div>
  </div>
</div>
