.wrapAbout {
  background-color: var(--color-background);
  padding: 30px;
}
.flexAbout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  top: -30px;
}
.education,
.experience,
.me {
  width: 28%;
  min-width: 340px;
  margin: 10px;
  padding: 10px;
  height: 290px;
  position: relative;
}
.educationIn,
.experienceIn,
.meIn {
  position: absolute;
  left: 0;
  top: -120px;
  background-color: #fff;
  color: var(--color-background);
  padding: 15px 10px;
  height: 290px;
  box-shadow: 0px 1px 9px 3px #a75d673e;
  border-radius: 5px;
}
.flexAbout h2 {
  margin-bottom: 15px;
}
.flexAbout p {
  margin-bottom: 13px;
}
.flexAbout span {
  font-weight: 700;
  color: var(--color);
}
.flexAbout img {
  height: 40px;
}
