<div class="wrapAbout">
  <div class="flexAbout">
    <div class="education">
      <div class="educationIn">
        <div>
          <h2>Education</h2>
          <!-- <img src="" alt="agh" />
          <img src="" alt="wsa" /> -->
        </div>
        <p>
          <span>2008-2011</span> AGH University of Science and Technology;
          Applied Mathematics – BSc
        </p>
        <p>
          <span>2013-2015</span> Higher School of Administration in
          Bielsko-Biała; International Relations -MA
        </p>
      </div>
    </div>
    <div class="experience">
      <div class="experienceIn">
        <div>
          <h2>Work experience</h2>
        </div>
        <p>
          <span>1-29.03.2022</span> Internship - Junior Frontend Developer; Tom
          & Co. Katowice
        </p>
        <p>
          <span>09.2019 – 02.2022</span>Trade Marketing Specialist; Maspex Group
        </p>
        <p>
          <span>06.2014-09.2019</span> Business Owner; insurance agent and
          travel agency "Borkala Travel"
        </p>
      </div>
    </div>
    <div class="me">
      <div class="meIn">
        <div>
          <h2>About me</h2>
        </div>
        <p>
          My main talents according to the Gallup research is: maximalist,
          empathy, optimist, adaptability, achiver.
        </p>
        <p>I like nature and be active. More you can see below:</p>
        <a href="https://www.instagram.com/myhoneyranch/"
          ><img src="/assets/inst.png" alt="instagram"
        /></a>
        <a
          href="https://www.facebook.com/profile.php?id=100000977961663&sk=about"
          ><img src="../../assets/fc.png" alt="facebook"
        /></a>
      </div>
    </div>
  </div>
</div>
