<div class="wrapAbout">
  <div class="flexAbout">
    <div class="education">
      <div class="educationIn">
        <div>
          <h2>Education</h2>
          <img src="" alt="agh" />
          <img src="" alt="wsa" />
        </div>
        <p><span>2008-2011y</span> AGH University of Science and Technolog</p>
        <p><span>2008-2011y</span> AGH University of Science and Technolog</p>
      </div>
    </div>
    <div class="experience">
      <div class="experienceIn">
        <div>
          <h2>Education</h2>
          <img src="" alt="agh" />
          <img src="" alt="wsa" />
        </div>
        <p><span>2008-2011y</span> AGH University of Science and Technolog</p>
        <p><span>2008-2011y</span> AGH University of Science and Technolog</p>
      </div>
    </div>
    <div class="me">
      <div class="meIn">
        <div>
          <h2>Education</h2>
          <img src="" alt="agh" />
          <img src="" alt="wsa" />
        </div>
        <p><span>2008-2011y</span> AGH University of Science and Technolog</p>
        <p><span>2008-2011y</span> AGH University of Science and Technolog</p>
      </div>
    </div>
  </div>
</div>
