<div class="wrapAbout">
  <div class="headerAbout">
    <p>We can work</p>
    <p>together</p>
  </div>
  <div class="wrapPortfolio">
    <div class="project">
      <div class="clouds"></div>
      <div class="portfolioIn">
        <img src="../../assets/monitor-g9014af5ed_1280.png" alt="" />
        <h3>Game</h3>
        <p>Lorem ipsum cupiditate veritatis velit? Placeat!</p>
        <a href="#">Demo</a>
      </div>
    </div>
    <div class="project">
      <div class="clouds"></div>
      <div class="portfolioIn">
        <img src="../../assets/monitor-g9014af5ed_1280.png" alt="" />
        <h3>Game</h3>
        <p>Lorem ipsum cupiditate veritatis velit? Placeat!</p>
        <a href="#">Demo</a>
      </div>
    </div>
    <div class="project">
      <div class="clouds"></div>
      <div class="portfolioIn">
        <img src="../../assets/monitor-g9014af5ed_1280.png" alt="" />
        <h3>Game</h3>
        <p>Lorem ipsum cupiditate veritatis velit? Placeat!</p>
        <a href="#">Demo</a>
      </div>
    </div>
    <div class="project">
      <div class="clouds"></div>
      <div class="portfolioIn">
        <img src="../../assets/monitor-g9014af5ed_1280.png" alt="" />
        <h3>Game</h3>
        <p>Lorem ipsum cupiditate veritatis velit? Placeat!</p>
        <a href="#">Demo</a>
      </div>
    </div>
    <div class="project">
      <div class="clouds"></div>
      <div class="portfolioIn">
        <img src="../../assets/monitor-g9014af5ed_1280.png" alt="" />
        <h3>Game</h3>
        <p>Lorem ipsum cupiditate veritatis velit? Placeat!</p>
        <a href="#">Demo</a>
      </div>
    </div>
  </div>
</div>
