.wrapAbout {
  position: relative;
  background-color: var(--color);
  min-height: 100vh;
  padding-bottom: 80px;
}

.wrapAbout .headerAbout p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -56px;
  font-size: 3.8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--color);
}
.wrapPortfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
.project {
  position: relative;
  width: 340px;
  height: 340px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.project img {
  width: 220px;
}
.portfolioIn {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  color: #444;
}
.portfolioIn p {
  width: 220px;
}
.portfolioIn a {
  position: relative;
  text-decoration: none;
  margin-top: 5px;
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
}
.portfolioIn a:hover {
  font-size: 1.1rem;
}
.portfolioIn a::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #444;
  box-shadow: 0px 2px 5px 1px #444;
}

/* sharp */

div.clouds,
div.clouds::before,
div.clouds::after {
  width: 340px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 0%);
  border-radius: 50%;
  transform: rotate(0deg);
}
div.clouds::before {
  box-shadow: 2px 2px 4px 2.5px #191b3a57;
}
div.clouds {
  background-color: #fff;
  animation: clouds 13s linear infinite;
}

div.clouds::before {
  top: 0%;
  left: -0%;
  content: "";
  background-color: #fff;
  animation: clouds 29s linear infinite;
}

div.clouds::after {
  top: 0%;
  left: 0%;
  content: "";
  background-color: #fff;
  animation: clouds 20s reverse linear infinite;
}

@keyframes clouds {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 600px) {
  .wrapAbout .headerAbout p {
    top: -108px;
    font-size: 7.5rem;
  }
}

@media (max-width: 300px) {
  .project img {
    width: 180px;
  }
}
