<div class="wrapAbout">
  <div class="headerAbout">
    <p>Portfolio</p>
  </div>
  <div class="wrapPortfolio">
    <ng-container *ngFor="let item of projects; let i = index">
      <div class="project">
        <div class="clouds"></div>
        <div class="portfolioIn">
          <img
            src="../../assets/doPortfolio/{{ i + 1 }}.PNG"
            alt="{{ projects[i].title }}"
          />
          <h3>{{ projects[i].title }}</h3>
          <p>{{ projects[i].description }}</p>
          <a href="{{ projects[i].href }}">{{ projects[i].link }}</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
