.contactWrap {
  position: relative;
  height: calc(100vh - 80px);
  position: relative;
  background-color: var(--color);
  text-align: center;
}

.contactWrap .headerAbout p {
  position: absolute;
  top: -40px;
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--color);
  margin-left: 5px;
}
.contactWrap .headerAbout p:last-child {
  position: absolute;
  top: 0px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-background);
  margin-left: 5px;
}

.contactData {
  position: absolute;
  color: #eee;
  right: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: right;
  margin: 20px;
  margin-right: 40px;
  z-index: 1;
}
.contactData img {
  width: 200px;
  margin-bottom: 5px;
  background-color: rgba(238, 238, 238, 0.674);
  border-radius: 30px;
  box-shadow: 4px 5px 6px 0px inset #000000f7;
}
.contactData img:hover {
  box-shadow: 4px 5px 6px 0px #000000f7;
}

div.clouds,
div.clouds::before,
div.clouds::after {
  width: 250vw;
  height: 250vw;
  position: absolute;
  top: 40%;
  left: -45%;
  transform: translate(-50%, 0%);
  border-radius: 45%;
  transform: rotate(0deg);
}
div.clouds {
  background-color: #333333f5;
  animation: clouds 23s linear infinite both;
}

div.clouds::before {
  top: 0%;
  left: 0%;
  content: "";
  background-color: #333333f6;
  animation: clouds 29s linear infinite both;
}

div.clouds::after {
  top: 0%;
  left: 0%;
  content: "";
  background-color: #333333dc;
  animation: clouds 46s linear infinite both;
}

@keyframes clouds {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 600px) {
  .contactWrap .headerAbout p {
    top: -73px;
    font-size: 5rem;
  }
  .contactWrap .headerAbout p:last-child {
    font-size: 5rem;
  }
  .contactData {
    font-size: 1.6rem;
  }
}
@media (max-width: 350px) {
  .contactWrap .headerAbout p {
    top: -29px;
    font-size: 2rem;
  }
  .contactData {
    font-size: 1.2rem;
  }
}
