<div class="technlogies">
  <div class="moveTechnologies">
    <img src="../../assets/5.png" alt="php" />
    <img src="../../assets/6.png" alt="mysql" />
    <img src="../../assets/2.png" alt="html" />
    <img src="../../assets/3.png" alt="css" />
    <img src="../../assets/1.png" alt="angular" />
    <img src="../../assets/4.png" alt="js" />
    <img src="../../assets/5.png" alt="php" />
    <img src="../../assets/6.png" alt="mysql" />
    <img src="../../assets/2.png" alt="html" />
    <img src="../../assets/3.png" alt="css" />
    <img src="../../assets/1.png" alt="angular" />
    <img src="../../assets/4.png" alt="js" />
  </div>
</div>
