div.clouds,
div.clouds::before,
div.clouds::after {
  width: 210px;
  height: 170px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 0%);
  border-radius: 50%;
}
div.clouds {
  background-color: var(--color);
  animation: clouds 13s linear infinite;
}

div.clouds::before {
  width: 210px;
  height: 210px;
  top: 0%;
  left: 0%;
  content: "";
  background-color: var(--color);
  animation: clouds 19s linear infinite;
}

div.clouds::after {
  top: 0%;
  left: 0%;
  content: "";
  background-color: var(--color);
  animation: clouds 10s reverse linear infinite;
}

@keyframes clouds {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
